<app-header class="disable-select">
  <mat-tab-group [@.disabled]="true">
    <mat-tab label="General">
      <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
        <div>
          <h4>
            Client: <span style="font-weight: normal;margin-left: 10px;">{{clientVersion}}</span> <br />
            Daemon: <span style="font-weight: normal;margin-left: 10px;">{{ daemonVersion || 'loading...' }}</span> <br />
            Wallet status: <span style="font-weight: normal;margin-left: 10px;">{{encryptionStatus}}</span>
          </h4>

          <div class="card row">
            <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.main.autostart"> Start Divi on system login
          </div>

          <div class="card row">
            <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.main.detachDatabases"> Detach databases at shutdown
          </div>

          <div class="card row">
            <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.main.stake"> Enable staking
          </div>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Maintenance">
      <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
        <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 20px;">
          <div fxFlex="1 1 120px">
            <h4 matTooltip="Restart the Daemon (pronounced Dee-mun). Can help with functional issues.">Restart Daemon</h4>

            <button class="validate mat-raised-button mat-primary"
                    color="primary"
                    mat-button color="primary"
                    (click)="restartDaemon()">
              Restart
            </button>
          </div>

          <div fxFlex="1 1 150px">
            <h4 matTooltip="Check the blockchain for any transactions your wallet may have missed. Can help solve transaction issues.">Rescan of the blockchain</h4>

            <button class="validate mat-raised-button mat-primary"
                    color="primary"
                    mat-button color="primary"
                    (click)="rescan()">
              Rescan
            </button>
          </div>

          <div fxFlex="1 1 150px">
            <h4 matTooltip="Completely refresh the wallet from the beginning of time. Can help solve major transaction issues.">Refresh the wallet</h4>

            <button class="validate mat-raised-button mat-primary"
                    color="primary"
                    mat-button color="primary"
                    (click)="zapwallet()">
              Refresh
            </button>
          </div>

          <div fxFlex="1 1 150px">
            <h4 matTooltip="Check that your wallet is not corrupted.">Verify wallet</h4>

            <button class="validate mat-raised-button mat-primary"
                    color="primary"
                    mat-button color="primary"
                    (click)="verifyWallet()">
              Verify
            </button>
          </div>

          <div fxFlex="1 1 120px">
            <h4 matTooltip="Refresh folders that may be holding unneccessary or corrupted data. Can help with syncing issues">Clear Cache</h4>

            <button class="validate mat-raised-button mat-primary"
                    color="primary"
                    mat-button color="primary"
                    (click)="clearCache()">
              Clear Cache
            </button>
          </div>
        </div>
      </mat-card>
      <!-- primer -->
      <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
        <div>
          <h2>
            Blockchain "Primer"
          </h2>
          <h4>
            The blockchain "Primer" serves as a method for out-of-sync wallets to quickly regain sync status.
          </h4>
        </div>

        <div class="cards" style="margin-bottom: 20px">
          <div class="card row">
            <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.main.primer"> Automatic primer restore
          </div>
        </div>

        <div fxLayout="row" fxLayoutGap="20px">
          <button class="validate mat-raised-button mat-primary"
                  color="primary"
                  mat-button
                  color="primary"
                  (click)="onPrimerRestoreClick()">
            Manual Restore
          </button>
        </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Security">
      <mat-card *ngIf="!walletInited" class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card>
      <ng-container *ngIf="walletInited" >
        <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
          <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 10px;">
            <div fxFlex="1 1 110px" *ngIf="encryptionStatus === 'Unencrypted'">
              <h4>Encrypt Wallet</h4>
              <button class="validate mat-raised-button mat-primary" color="primary" mat-button color="primary" (click)="encryptwallet()">Encrypt</button>
            </div>
  
            <div fxFlex="1 1 110px"
                 *ngIf="encryptionStatus === 'Unlocked' || encryptionStatus === 'Locked' || encryptionStatus === 'Unlocked, staking only'">
              <h4 matTooltip="Lock or unlock your wallet using a password.">Wallet lock/unlock</h4>
  
              <div *ngIf="encryptionStatus === 'Unlocked'">
                <button class="validate mat-raised-button mat-primary"
                        color="primary"
                        mat-button color="primary"
                        (click)="lockwallet()">
                  Lock Wallet
                </button>
              </div>
              <div *ngIf="encryptionStatus === 'Locked' || encryptionStatus === 'Unlocked, staking only'">
                <button class="validate mat-raised-button mat-primary"
                        color="primary"
                        mat-button color="primary"
                        (click)="unlockwallet()">
                  Unlock Wallet
                </button>
              </div>
            </div>
  
            <div fxFlex="1 1 110px">
              <h4 matTooltip="Recover an older wallet using a mnemonic seed phrase.">Recover from seed</h4>
  
              <button class="validate mat-raised-button mat-primary"
                      color="primary"
                      mat-button color="primary"
                      (click)="recover()">
                Recover
              </button>
            </div>
  
            <div fxFlex="1 1 110px">
              <h4 matTooltip="Backup your current wallet with a mnemonic seed phrase.">Backup from seed</h4>
  
              <button class="validate mat-raised-button mat-primary"
                      color="primary"
                      mat-button color="primary"
                      (click)="backup()">
                Backup
              </button>
            </div>
  
            <div fxFlex="1 1 160px"
                 *ngIf="encryptionStatus === 'Unlocked' || encryptionStatus === 'Locked' || encryptionStatus === 'Unlocked, staking only'">
              <h4 matTooltip="Change the password you use to unlock/lock the wallet.">Change password</h4>
  
              <div>
                <button class="validate mat-raised-button mat-primary"
                        color="primary"
                        mat-button color="primary"
                        (click)="changePassword()">
                  Change Password
                </button>
              </div>
            </div>
          </div>
        </mat-card>
        <!-- 2fa -->
        <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
          <div fxLayout="row" fxLayoutGap="10px">
            <h2> 2-Factor Authentication</h2>
          </div>
          <div fxLayout="row" fxLayoutGap="10px" style="margin-bottom: 30px;">
            <span>Secure your wallet by adding a second layer of authentication.</span>
          </div>
          <div fxLayout="row" fxLayoutGap="20px" style="margin-bottom: 10px;">
            <button *ngIf="encryptionStatus === 'Locked' || encryptionStatus === 'Unlocked, staking only'"
              class="validate mat-raised-button mat-primary"
              color="primary"
              mat-button color="primary"
              (click)="unlockwallet(false)">
              Unlock Wallet
            </button>

            <button *ngIf="(encryptionStatus === 'Unencrypted' || encryptionStatus === 'Unlocked') && userSettings?.twoFactorAuthEnabled === false"
              class="validate mat-raised-button mat-primary" 
              color="primary" 
              mat-button 
              color="primary" 
              (click)="onSetup2faClick()">
              Setup 2-Factor Authentication
            </button>

            <button *ngIf="(encryptionStatus === 'Unencrypted' || encryptionStatus === 'Unlocked') && userSettings?.twoFactorAuthEnabled === true"
              class="validate mat-raised-button mat-primary" 
              color="primary" 
              mat-button 
              color="primary" 
              (click)="onSetup2faClick()">
              Update 2-Factor Authentication
            </button>
          </div>
        </mat-card>
      </ng-container>
    </mat-tab>
    <mat-tab label="Network">
      <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
        <div>
          <h4>Select Node Network</h4>

          <mat-radio-group class="to-balance-type block-radio" name="sendOutput" [(ngModel)]="net" fxLayout="column" fxLayoutGap="10px"
                           (change)="netChanged()">

            <mat-radio-button class="balance" value="main" checked="checked" fxFlex>
              <div class="name">Mainnet (default)</div>
            </mat-radio-button>

            <mat-radio-button class="balance" value="test" fxFlex>
              <div class="name">Testnet</div>
            </mat-radio-button>

          </mat-radio-group>
        </div>
      </mat-card>

      <div class="container-fluid settings-page">
        <p>Wallet commands will be unavailable for 30 seconds after clicking save </p>
        <button class="validate mat-raised-button mat-primary" color="primary" mat-button color="primary" (click)="save()">Update Network</button>
        <p *ngIf="errorMsg">ERROR: {{errorMsg}}</p>
      </div>
    </mat-tab>

    <mat-tab label="Display">
      <mat-card class="pay-to" style="margin: 10px; margin-left: 30px; margin-right: 30px;">
        <div>
          <div class="card row">
            <div class="input-label col-xs-4" style=" margin-top: 20px;">
              <h4>User interface language</h4>
            </div>
            <div style="margin-bottom: 20px;">
              <mat-select class="underliningSelect" fxFlex="0 0 70px" name="currency" (change)="onSettingsChange()" [(ngModel)]="settings.display.language" placeholder="English">
                <mat-option value="default">English</mat-option>
              </mat-select>
            </div>
          </div>

          <!-- <div class="card row">
          <div class="input-label col-xs-4">
            <h4>Unit to show amounts in</h4>
          </div>
          <div style="margin-bottom: 20px;">
            <mat-select class="underliningSelect" fxFlex="0 0 70px" name="currency" (change)="onSettingsChange()" [(ngModel)]="settings.display.units" placeholder="Divi">
              <mat-option value="part">DIVI</mat-option>
              <mat-option value="usd">USD</mat-option>
            </mat-select>
          </div>
        </div> -->

          <div class="card row">
            <div class="input-label col-xs-4">
              <h4>Rows per page</h4>
            </div>
            <div style="margin-bottom: 20px;">
              <mat-select class="underliningSelect" fxFlex="0 0 70px" name="currency" (change)="onSettingsChange()" [(ngModel)]="settings.display.rows" placeholder="20">
                <mat-option value="20">20</mat-option>
                <mat-option value="50">50</mat-option>
                <mat-option value="100">100</mat-option>
                <mat-option value="500">500</mat-option>
              </mat-select>
            </div>
          </div>

          <div class="card row">
            <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.display.addresses"> Display addresses in transaction list
          </div>

          <div class="card row">
            <h4>Notifications</h4>

            <div class="col-xs-8">
              <table class="table">
                <tr>

                  <td>
                    <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.display.notify.message">
                  </td>
                  <td>Incoming message</td>
                </tr>
                <tr>

                  <td>
                    <input type="checkbox" (change)="onSettingsChange()" [(ngModel)]="settings.display.notify.partReceived">
                  </td>
                  <td>Received DIVI</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-tab>
  </mat-tab-group>
</app-header>
