<div class="container disable-select">
  <div class="content">
    <div class="title">Change password for your wallet</div>
    <p>
      Please fill all steps in form-wizard.
    </p>

    <app-password
      #passwordElement
      [label]="label"
      [showStakeOnly]="false"
      [buttonText]="buttonText"
      [backButtonText]="currentStep === 1 ? '' : 'Back'"
      (backEmitter)="back()"
      [emitPassword]="true"
      (passwordEmitter)="next($event)">
    </app-password>
  </div><!-- .content -->
</div><!-- .container -->
