@import "./src/assets/_config"; // import shared colors etc.

@import "../shared/_modal-layout"; // shared layout for modals (dialog titles etc.)

.section {
  button {
    margin-top: 40px;
  }
}

.error-message {
  color: $color-warning;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.version {
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}

::ng-deep {
  p, li {
    font-size: 0.85rem;
  }

  li {
    list-style: none;
  }
}
