<div class="container">
  <div class="content">
    <div class="section">
      <div class="title">Please enter the 2FA Passcode</div>
      <p>Please enter either your 2FA passcode or your manual entry code.</p>
        <div class="error-message" *ngIf="!!error">
          <p>{{error}}</p>
        </div>

        <mat-form-field>
          <input matInput name="token" id="token" type="text" [(ngModel)]="token" (ngModelChange)="onTokenChange($event)" placeholder="Passcode" maxlength="16" />
        </mat-form-field>
        <div class="actions">
          <button mat-raised-button 
            color="primary" 
            (click)="close()">
            Cancel
          </button>
        </div>
    </div>
  </div>
</div>