
/* ------------------------------- *\
    Variables
\* ------------------------------- */

$font: 'Roboto', sans-serif;

// main colors
$color: #C00000; // primary green-ish color
$color-success: #4f8a10;
$color-alert: #8C0011;
$color-warning: #f1cc00; // yellow-ish
$color-info: #0077B5; // blue-ish (e.g. status cold staking icon)
$color-white: #ffffff;

// text colors
$text: #4A4A4A; // default text color
$text-muted: #7E8790; // grey (for section titles, descriptions etc.)

// bg/element colors
$bg: #fafafa; // light grey bg color
$bg-hover: darken($bg, 2%);
$bg-black: #2a2b31; // sidebar
$bg-white: #ffffff; // sidebar
$bg-shadow: #dcdcdc; // lines, box shadows etc.
$bg-green: #7AC131; 
$bg-red: #D0021B; 
$bg-currency: #4c4d55;

// UI
$radius: 4px; // default border-radius
$modal-width: 900px;


/* ------------------------------- *\
    Mixins
\* ------------------------------- */


/* ------------------------------- *\
    Placeholder selectors
    http://thesassway.com/intermediate/understanding-placeholder-selectors
\* ------------------------------- */

%subtitle { // section titles / H2's
  @extend %disable-select;
  font-size: 15px;
  font-family: $font;
  font-weight: normal;
  text-transform: uppercase;
  color: $text-muted;
  border-bottom: 1px solid $bg-shadow;
  padding: 0 0 8px;
  margin: 30px 0 25px;
}


// enable/disable text selection
%disable-select,
.disable-select {
  user-select: none;
  cursor: default;
}
%enable-select,
.enable-select {
  user-select: auto;
  cursor: text;
}


// Transition effects
%tfx {
  transition: all 0.17s;
}
