<div class="status-icon disable-select">

  <span *ngIf="!(blockStatusService.isFullSynced | async) || !walletInitialized"
    class="sync icon"
    matTooltip="Getting latest wallet info."
    container="body"
    matTooltipPosition="below">
      <img class="step-spinner" src="assets/img/masternode/spinner.gif" />
  </span>

  <span class="status icon" matTooltip="Peers: {{ peerListCount }}">
    <img src="assets/icons/SVG/network/peers-{{ getIconNumber() }}.svg"/>
  </span>

  <!-- srha -->
  <span *ngIf="encryptionStatus"
    class="encryption icon"
    matTooltip="{{ encryptionStatus }}"
    container="body"
    matTooltipPosition="below"
    (click)="toggle()">
      <img src="assets/icons/SVG/{{ encryptionStatusIcon }}.svg"/>
  </span>

  <mat-slide-toggle
    *ngIf="walletInitialized"
    [matTooltip]="stakingEnabled && isUnlockedForStaking ? 'Staking enabled' : (!isUnlockedForStaking ? 'Wallet locked' : stakingDescription)" 
    [(ngModel)]="isUnlockedForStaking"
    [disabled]="encryptionStatus === 'Unencrypted'"
    (change)="toggleForStaking($event)"
    matTooltipPosition="below">
  </mat-slide-toggle> 

  <!-- <span  -->
    <!-- class="staking icon" -->
    <!-- [matTooltip]="stakingEnabled && isUnlockedForStaking ? 'Staking enabled' : (!isUnlockedForStaking ? 'Staking disabled' : stakingDescription)" -->
    <!-- [ngClass]="{'enabled': stakingEnabled && isUnlockedForStaking, 'disabled': !isUnlockedForStaking, 'unlocked': isUnlockedForStaking && !stakingEnabled}" -->
    <!-- container="body" -->
    <!-- matTooltipPosition="below"> -->
      <!-- <img src="assets/icons/SVG/staking_icon.svg"/> -->
  <!-- </span> -->

    <span
    class="console icon"
    matTooltip="Debug Console"
    container="body"
    *ngIf="showDebugConsole"
    (click)="openConsoleWindow()">
      <mat-icon class="icon" fontSet="partIcon" fontIcon="part-console-window"></mat-icon>
  </span>

  </div><!-- .status-icons -->
