@import "./src/assets/_config"; // import shared colors etc.

.icon {
  padding: 1px;
  .mat-icon {
    width: auto;
    height: auto;
    font-size: 16px;
  }

  // Encryption
  &.encryption {
    cursor: pointer;
  }

  // Staking icon
  &.staking {
    img {
      width: 14px;
    }
    &.enabled {
      img {
        filter: invert(.5) sepia(1) saturate(90) hue-rotate(150deg);
      }
    }
    &.disabled {
      img {
        filter: invert(.5) sepia(1) saturate(90) hue-rotate(0deg);
      }
    }
  }

  // Console
  &.console {
    margin-left: 6px;
    position: relative;
    top: 1px;
    cursor: pointer;
  }

}